<!DOCTYPE html>

{% extends 'polls/product.html' %}

{% block custom_inputs %}
  <div class="row">
    <div class="col-100">
      <label for="Pantalla 1">Screen 1</label>
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea1" name="linea1" required="" type="text" placeholder="JOIN US" maxlength="25" value="JOIN US" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea2" name="linea2" required="" type="text" placeholder="TO" maxlength="25" value="TO" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea3" name="linea3" required="" type="text" placeholder="CELEBRATE!" maxlength="25" value="CELEBRATE!" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <label for="Pantalla 2">Screen 2</label>
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea4" name="linea4" required="" type="text" placeholder="BEN" maxlength="25" value="BEN" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea5" name="linea5" type="text" placeholder="IS TURNING" maxlength="25" value="IS TURNING" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea6" name="linea6" type="text" maxlength="25" placeholder="2" value="2" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <label for="Pantalla 3">Screen 3</label>
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea7" name="linea7" required="" type="text" maxlength="25" placeholder="2:00-5:00PM" value="2:00-5:00PM" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea8" name="linea8" required="" type="text" maxlength="25" placeholder="SUNDAY" value="SUNDAY" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea9" name="linea9" required="" type="text" maxlength="25" placeholder="DECEMBER" value="DECEMBER" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea10" name="linea10" type="text" maxlength="25" placeholder="PSVP TO MOM" value="PSVP TO MOM" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea11" name="linea11" required="" type="text" maxlength="27" placeholder="+657-278-990" value="+657-278-990" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea12" name="linea12" required="" type="text" maxlength="27" placeholder="126, GREENVILE" value="126, GREENVILE" />
    </div>
  </div>
  <div class="row">
    <div class="col-100">
      <input id="linea13" name="linea13" type="text" maxlength="27" placeholder="STREET 1, CA" value="STREET 1, CA" />
    </div>
  </div>
  <div class="row">
    <div class="col-100 espaciador"></div>
  </div>
{% endblock %}
